@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.musica , li > img{
    /*background-image: url(https://www.pngrepo.com/download/315158/music.png);*/
    background-image: url(../css/imgs/music-pngrepo-com.png);
    background-size: 25px;
    border-radius: 0.5em;
}

.new{
    /*background-image: url(https://www.pngrepo.com/download/348205/new.png);*/
    background-image: url(../css/imgs/new-pngrepo-com.png);
    background-size: 25px ;
}


.search{
    /*background-image: url(https://www.pngrepo.com/download/135623/search.png);*/
    background-image: url(../css/imgs/search-pngrepo-com.png);
    background-size: 29px ;
    width:29px;
    height: 29px;
    filter: invert(1);
}

.discog{
    /*background-image: url(https://www.pngrepo.com/download/294609/music-album-album.png);*/
    background-image: url(../css/imgs/music-album-album-pngrepo-com.png);
    background-size: 29px ;
    width:29px;
    height: 29px;
    filter: invert(1);
}

.advSearch{
    /*background-image: url(https://www.pngrepo.com/download/2797/search.png);*/
    background-image: url(../css/imgs/searchMusic.png);
    
    background-size: 29px ;
    width:29px;
    height: 29px;
    filter: invert(1);
}

.doc{
    /*background-image: url(https://www.pngrepo.com/download/7840/document.png);*/
    background-image: url(../css/imgs/document-pngrepo-com.png);
    background-size: 29px ;
    width:29px;
    height: 29px;
}

.setList{
    /*background-image: url(https://www.pngrepo.com/download/88237/list.png);*/
    background-image: url(../css/imgs/list-pngrepo-com.png);
    background-size: 29px ;
    width:29px;
    height: 29px;
   filter: invert(1);
  
}

.download{
   
    /*background-image: url(https://www.pngrepo.com/download/56196/download.png);
    */background-image: url(../css/imgs/download-pngrepo-com.png);
    background-size: 29px ;
    width:29px;
    height: 29px;
}

.upload{
   
    /*background-image: url(https://www.pngrepo.com/download/18898/upload.png);
    */background-image: url(../css/imgs/upload-pngrepo-com.png);
    background-size: 29px ;
    width:29px;
    height: 29px;
}

.bolt{
    /*background-image: url(https://www.pngrepo.com/download/400010/bolt.png);
    */background-image: url(../css/imgs/bolt-pngrepo-com.png);
    background-size: 31px ;
    width:31px;
    height: 31px;
    filter: hue-rotate(234deg) brightness(1.5) contrast(0.5);
}

.bolt.active{
    filter: invert(0);
}

.btn{
   
    
}

.disc{
    /*background-image: url(https://www.pngrepo.com/download/101744/long-play-record-cover.png);
    */background-image: url(../css/imgs/long-play-record-cover-pngrepo-com.png);
    background-size: 31px ;
    width:31px;
    height: 31px;
    filter: invert(1);
}

.list{
    /*background-image: url(https://www.pngrepo.com/download/90806/papyrus.png);
    background-image: url(../css/imgs/papyrus-pngrepo-com.png);
    background-size: 29px ;
    width:29px;
    height: 29px;
    */
    font-size: 5vh;
    filter: invert(1);
}

i{ 
    &.a1{
        font-size: 0.7em;
    }

    &.a2{
        font-size: 1.4em;
    }

    &.a3{
        font-size: 2.1em;
    }

    &.a4{
        font-size: 2.8em;
    }
  

}

.trash{
    /*background-image: url(https://www.pngrepo.com/download/226116/file-remove.png);
    */background-image: url(../css/imgs/remove-pngrepo-com.png);
    background-size: 20px ;
    
        filter: drop-shadow(2px 4px 6px black) brightness(0.9);;
    width:20px;
    height: 20px;
  
}




#nomeArquivo { 
    margin: 1vh;
    border-width: 1px 1px 1px 1px;
    background: none;
    border-style: inset;
    border-color: black black grey;
    color: grey;
    padding: 1vh;

    transition: all 0.3s;
}

input{
    outline: none;
}

#nomeArquivo:focus {

    border-color: black black white;
    color:white;
    transition: all 0.1s;
}


.forward{
    /*background-image: url(https://www.pngrepo.com/download/42258/fast-forward.png);
    background-image: url(../css/imgs/fast-forward-pngrepo-com.png);
    background-size: 25px ;
    width:12px;
    height: 25px;
    */
    padding-right: 2em;
    color: #64bbe057;
}

.back{
    /*background-image: url(https://www.pngrepo.com/download/123553/backward-arrows-couple.png);
    background-image: url(../css/imgs/backward-arrows-couple-pngrepo-com.png);
    background-size: 25px ;
    width:14px;
    height: 25px;
    */
    padding-left: 2em;

    color: #64bbe057;
}



.config{
    /*background-image: url(https://www.pngrepo.com/download/373522/config.png);
   */background-image: url(../css/imgs/config-pngrepo-com.png);
    background-size: 25px ;
    width:25px;
    height: 25px;
    filter: brightness(1.5);
}

.trash:hover{
    filter: drop-shadow(2px 4px 6px black);
    zoom: 1.1;
}

button:hover{
    filter: drop-shadow(2px 4px 6px black);
}

.uploadCloud{
    
    /*background-image: url(https://www.pngrepo.com/download/209303/upload.png);
    */background-image: url(../css/imgs/uploadCloud.png);
    background-size: 29px ;
    width:29px;
    height: 29px;
}

.downCloud{
    
    /*background-image: url(https://www.pngrepo.com/download/209303/upload.png);
    */background-image: url(../css/imgs/uploadCloud.png);
    background-size: 29px ;
    width:29px;
    height: 29px;
    rotate: 180deg;
}



