@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.search,
.discog,
.advSearch,
.setList,
.download,
.upload,
.uploadCloud,
.downCloud {
    background-size: 29px;
    width: 29px;
    height: 29px;
}

.musica,
li>img {
    /*background-image: url(https://www.pngrepo.com/download/315158/music.png);
    background-image: url(../css/imgs/music-pngrepo-com.png);*/
    max-width: 25vw;
    background-size: cover;
    border-radius: 0.5em;
    box-shadow: 4px 7px 10px black;
}

.inputPesquisa {
    background-color: var(--fundoD);
    color: var(--colorA);
    outline: none;
    font-size: 5vw;
}

#albumDetail {
    height: 100%;
}

#listaModal {
    display: none;

    max-width: 100%;
    overflow-x: scroll;
}

#secaoDiscos:has(#discoBox.active) {
    #listaModal {
        display: flex;
        align-items: center;
        background-color: var(--fundoE);

    }
}

.btnlista,
.btn1 {
    /*background: linear-gradient(45deg, var(--fundoB), transparent);*/
    border-radius: 0 1vh 0 1vh;
    font-size: 2vh;
    height: fit-content;
    text-transform: capitalize;
    font-family: "Cherry Cream Soda", system-ui;
    font-weight: 400;
    font-style: normal;


}

.thumb {
    width: 7svh;
    border-radius: 2px;
    padding: 2px;

    &:active {
        filter: saturate(1);
    }
}

button.active>.bw {
    filter: grayscale(0);

}

button>.bw {
    filter: grayscale(1);
}




.artlbl {
    bottom: -5px;
    font-size: 2svh;
    right: 0;
    color: var(--colorB);
    filter: drop-shadow(2px 4px 6px var(--colorB));
}

.bi::before {}

:focus-visible {
    outline: none !important;
}

.new {
    /*background-image: url(https://www.pngrepo.com/download/348205/new.png);
    background-image: url(../css/imgs/new-pngrepo-com.png);*/
    background-size: 25px;
}


.search {
    /*background-image: url(https://www.pngrepo.com/download/135623/search.png);*/
    background-image: url(../css/imgs/search-pngrepo-com.png);
    filter: invert(1);
}

#nomeAlb {
    color: var(--fundoD);
    max-width: 18vw;
    text-align: center;
}

.discog {
    /*background-image: url(https://www.pngrepo.com/download/294609/music-album-album.png);*/
    background-image: url(../css/imgs/music-album-album-pngrepo-com.png);
    filter: invert(1);
}

.advSearch {
    /*background-image: url(https://www.pngrepo.com/download/2797/search.png);*/
    background-image: url(../css/imgs/searchMusic.png);

    filter: invert(1);
}

.doc {
    /*background-image: url(https://www.pngrepo.com/download/7840/document.png);*/
    background-image: url(../css/imgs/document-pngrepo-com.png);
}

.setList {

    /*background-image: url(https://www.pngrepo.com/download/88237/list.png);*/
    background-image: url(../css/imgs/list-pngrepo-com.png);
    filter: invert(1);

}

.download {

    /*background-image: url(https://www.pngrepo.com/download/56196/download.png);
    */
    background-image: url(../css/imgs/download-pngrepo-com.png);

}

.upload {

    /*background-image: url(https://www.pngrepo.com/download/18898/upload.png);
    */
    background-image: url(../css/imgs/upload-pngrepo-com.png);

}

.bolt {


    color: var(--colorA);
    font-size: 3.4vh;

}

.bolt.active,
.bolt:focus {
    color: var(--active);
}

.btn {}

.disc {
    /*background-image: url(https://www.pngrepo.com/download/101744/long-play-record-cover.png);
    */
    background-image: url(../css/imgs/long-play-record-cover-pngrepo-com.png);
    background-size: 31px;
    width: 31px;
    height: 31px;
    filter: invert(1);
}

.list {
    /*background-image: url(https://www.pngrepo.com/download/90806/papyrus.png);
    background-image: url(../css/imgs/papyrus-pngrepo-com.png);
    background-size: 29px ;
    width:29px;
    height: 29px;
    */
    font-size: 5vh;
    filter: invert(1);
}

i,
a,
span,
legend {
    &.a1 {
        font-size: 2.5svh
    }

    &.a2 {
        font-size: 4svh;
    }

    &.a3 {
        font-size: 6svh;
    }

    &.a4 {
        font-size: 8svh;
    }


}

.trash {
    /*background-image: url(https://www.pngrepo.com/download/226116/file-remove.png);
    */
    background-image: url(../css/imgs/remove-pngrepo-com.png);
    background-size: 20px;

    filter: brightness(0.9);
    width: 20px;
    height: 20px;

}




#nomeArquivo {
    margin: 1vh;
    border-width: 1px 1px 1px 1px;
    background: none;
    border-style: inset;
    border-color: black black grey;
    color: grey;
    padding: 1vh;


}



#listaArtistas.active {
    transition: all 0.5s;
}

#listaArtistas {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    position: relative;
    align-content: baseline;
    height: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}





.banda {
    font-size: 2.5vh;

    width: 20vh;
    height: 20vh;

    border-radius: 2vh;
    text-wrap: nowrap;
    margin: 1vh;
    background-size: contain;


    span {
        width: 100%;
        align-content: end;
        padding: 1vh;

        &:hover {
            font-size: 1.2em;
            backdrop-filter: brightness(0.6);
            cursor: pointer;
            transition: all 0.2s ease-in-out;
        }
    }
}

.modal {

    background: var(--fundoB);


    /* width: 26vh; */
    border-radius: 1vh;
    box-shadow: 4px 5px 5px var(--shadowA);
    z-index: 2;
}



/* input outline moved to common.css */

#nomeArquivo:focus {

    border-color: black black white;
    color: white;
    transition: all 0.1s;
}

.forward,
.back {
    opacity: 0.3;
}


.forward {
    /*background-image: url(https://www.pngrepo.com/download/42258/fast-forward.png);
    background-image: url(../css/imgs/fast-forward-pngrepo-com.png);
    background-size: 25px ;
    width:12px;
    height: 25px;
    */
    margin-right: 2svh;
    color: var(--active);
}

.back {
    /*background-image: url(https://www.pngrepo.com/download/123553/backward-arrows-couple.png);
    background-image: url(../css/imgs/backward-arrows-couple-pngrepo-com.png);
    background-size: 25px ;
    width:14px;
    height: 25px;
    */
    margin-left: 2svh;

    color: var(--active);
}

.slideControll>button {

    @media (orientation: portrait) {
        visibility: hidden;
    }
}


.config {
    /*background-image: url(https://www.pngrepo.com/download/373522/config.png);
   */
    background-image: url(../css/imgs/config-pngrepo-com.png);
    background-size: 25px;
    width: 25px;
    height: 25px;
    filter: brightness(1.5);
}

.trash:focus {
    zoom: 1.1;
}

.miniEncarte {

    z-index: 2;
    width: 25vh;
    height: 25vh !important;

    align-content: center;
    height: fit-content;

    @media (min-width:600px) {
        width: 40vh;
        height: 40vh !important;
    }

    @media (min-width:300px) {
        width: 20vh;
        height: 20vh !important;
    }
}

.listaCard {
    width: 25vw;
    height: 25vw;


}

button:hover {
    transform: scale(1.05);
    color: var(--active);
}

.getLyric {
    font-size: 2.5svh;
    flex-wrap: balance;
    justify-content: center;

    a {
        max-width: 20vh;
        text-align: center;
        text-wrap-mode: nowrap;
    }

    &:hover {
        color: var(--active);
        transform: scale(1.05);
    }
}

.uploadCloud {

    /*background-image: url(https://www.pngrepo.com/download/209303/upload.png);
    */
    background-image: url(../css/imgs/uploadCloud.png);
    background-size: 29px;
    width: 29px;
    height: 29px;
}

.downCloud {

    /*background-image: url(https://www.pngrepo.com/download/209303/upload.png);
    */
    background-image: url(../css/imgs/uploadCloud.png);
    background-size: 29px;
    width: 29px;
    height: 29px;
    rotate: 180deg;
}