body{
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
}


.p0{
    padding:0;
}

.m0{
    margin:0;
}

.flex{
    display: flex;
}

.gap1{
    gap: 0.2em;
}

.grid1{
    display: grid;
    gap: 1em;
}

.grid2{
    display: grid;
    grid-auto-flow: column;
    gap: 1vh;
    /* grid-template-columns: auto; */
    place-items: center;
}

.grid3{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
}

.alignCenter{
    align-items: center;
}

.evenly{
    justify-content: space-evenly;
}

.between{
    justify-content: space-between;
}

.grid3one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.centroGrid3{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    place-items: center;
}

.grid{
    display: grid;
}

.m1{
    margin: 1em;
}

.m2{
    margin:2em;
}

.central{
    justify-content: center;
    place-content: center;
    place-items: center;
}