html, body {
    margin: 0;
    padding: 0;
    overflow: hidden ; /* Impede o scroll horizontal */
    max-width: 100%; /* Garante que o layout não ultrapasse a largura da tela */
    max-height: 100svh !important;
    background-color: var(--fundoC);

    /*travar gestos*/
    touch-action: none; /* Impede o zoom e arraste */
    -ms-touch-action: none; /* Para IE/Edge */
    overflow: hidden; /* Para impedir rolagem */
    user-select: none; /* Impede seleção de texto (opcional) */
  }
  

html, body {

  }
  

.w100{
    width: 100%;
}

.w75{
    width: 75%;
}

.p0{
    padding:0;
}

.p2{
    padding: 2vh;
}

.m0{
    margin:0;
}

.flex{
    display: flex;
}

.gap1{
    gap: 0.2em;
}

.grid1{
    display: grid;
    gap: 1vh;
}

.grid2{
    display: grid;
    grid-auto-flow: row;
    gap: 1vh;
    /* grid-template-columns: auto; */
    place-items: center;
}

.grid3{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
}

.alignCenter{
    align-items: center;
}

.evenly{
    justify-content: space-evenly;
}


.around{
    justify-content: space-around;
}

.between{
    justify-content: space-between;
}

.grid3one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.centroGrid3{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    place-items: center;
}

.grid{
    display: grid;
}

.m1{
    margin: 1vh;
}

.m2{
    margin:2vh;
}

.central{
    justify-content: center;
    place-content: center;
    place-items: center;
}