pre{
    text-align: center;
    padding: 2vh;
    margin: 0;
    zoom: 1;
    font-size: 16px;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    white-space: break-spaces;
}



pre.rollOff{
    max-height: 80%;
}


.box-pesquisa{
    display: flex;
    text-align: center;
    /* place-content: center; */
    gap: 1vh;
    justify-content: center;
    padding: 2vh;
}

.box-pesquisa > input{
    height: 5vh;
    width: 90%;
    text-align: center;
}

.inputPesquisa{
    border-width: 0px 0px 2px 0px;
    background-color: #ffffff14;
    color: white;
    outline: none;
}


#rolagem{
    background-color: transparent;   
}

#musicas > li{
    align-items: center;
    cursor: pointer;
    gap: 2vh;
    font-size: 3vh;
}

#titulo{
    align-items: center;
    justify-self: center;
    padding: 1vh;
    justify-self: center;
    padding: 1vh;
    padding: 1em;
    font-size: 2em;
    text-shadow: #FC0 1px 0;
}