pre{
    text-align: center;
    padding: 2vh;
    margin: 0;
    font-size: 1.7vh;
    height: 100%;
    max-height: 100%;
    overflow-y: scroll;
    white-space: break-spaces;
}


    pre.rollOff{
        max-height: 80%;
    }

#scroll-container{
    display: contents;
}

.box-pesquisa{
    display: flex;
    text-align: center;
    /* place-content: center; */
    gap: 1vh;
    justify-content: center;
    padding: 2vh;
}

    .box-pesquisa > input{
        height: 5vh;
        background-color: var(--fundoA);
        color: var(--colorB);
        width: 100%;
        text-align: center;
        font-size: 1em;
    }

.inputPesquisa{
    border-width: 0px 0px 2px 0px;
    background-color: var(--fundoD);
    color: var(--colorB);
    outline: none;
    font-size: 5vw;
}


#titulo{
    font-size: 2.5vw;
    text-wrap: balance;
    padding: 0 10px;
    text-shadow: #FC0 1px 0;
}


@media (max-width:400px){

    #titulo{
        font-size: 2vh;
    }

}