
@import url(animation.css);
@import url(elements.css);
@import url(letra.css);
@import url(tema.css);
@import url(layout.css);

:root{
    --top: calc(12vh + 3vw);
    --topSides: calc(var(--top) + 8vw);
    --topInfo: calc(var(--top) + var(--topSides) ); /*mistura medidas de vh e vw*/
    --fundoA: #916b29ad;
    --fundoB:black;
   --fundoC: #35393b;
   --fundoD:#4a4c50;
   --shadowA:#846e2c;
   --colorA:#cfcf74;
   --colorB:white;
   --width:90%;

}

input{
    accent-color: rgba(214, 214, 204, 0.698);
}


::-webkit-input-placeholder{
    color: var(--colorB);
 filter: brightness(0.8);
 font-style: italic;
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--colorB);
    filter: brightness(0.8);
    font-style: italic;
  }

body{
    margin:0; 
    padding: 0;
    background-color: var(--fundoC);
}

legend{
    font-size: 0.86em;
    padding: 3px;
    border-radius: 3px;
    background-color: var(--fundoA);
    width: fit-content;
    padding: 5px;
}

header{

    display: grid;
     justify-items: center;

     background-color: var(--fundoD);
   
     padding: 2vh;
     text-align: center;

     z-index: 2;
     position: relative;
}

main > menu{
    margin: 0;
    display: none;
    padding: 0;
    background-color: var(--fundoC);
    color: white;
}

footer{
    bottom: 0;
    /* position: fixed; */
    /* width: 100%; */
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1vh;
}

footer > div{
    display: flex;
    gap: 1vh;
    justify-self: center;
    text-align: center;
}

input{
    border-radius: 4px;
}

fieldset{
    border-radius: 4px;
    border-color: var(--fundoD);

}

#myProgress {
    display: none;
    width: 100%;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: white;
    text-align: center;
  }

  #myBar > a{
    text-align: center;
    place-items: center;
    vertical-align: -webkit-baseline-middle;
    color:var(--colorA);
    filter: drop-shadow(2px 4px 6px #f7f8f4);

  }
  #myProgress.on{
    display: block;
  }

@media (max-width:400px){

    footer > div{
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        /* gap: 1vh; */
        justify-self: center;
        text-align: center;
        padding: 1vh;
    }

    footer{
        bottom: 0;
         color: white;
        display: grid;
        justify-content: center;
        padding: 1vh;
    }


}

@media (width:1024) and (height:1366){
    :root{
        --topSides: --top;
    }

}

@media (orientation:landscape){
    :root{
        --top: calc(15vh + 2vh);
        --width:100%;
    }

}