
@import url(animation.css);
@import url(elements.css);
@import url(letra.css);
@import url(tema.css);
@import url(layout.css);

:root{
    --header:6svh;
    --top: 16svh; /* alt header +  alt menu + 2*paddings */
    --topSides: calc(var(--top) + 8vw);
    --topInfo: calc(var(--top) + var(--topSides) ); /*mistura medidas de vh e vw*/
    
    /*
    --fundoA: #4d7a8d;
    --fundoB: rgb(35, 33, 33);
    --active: #64bbe0;
    --fundoC: #000000;
    --fundoD: #1c2b38;
    --shadowA: #71aac381;
    --colorA: var(--fundoA);
    --colorB: white;
    */

    --fundoA: #ba6210;
    --fundoB: rgb(35, 33, 33);
    --active: #ffffff;
    --fundoC: #000000;
    --fundoD: #cb7014;
    --shadowA: #71aac381;
    --colorA: var(--fundoA);
    --colorB: white;

   --width:90%;
}



.pos-abs{
    position: absolute;
}

.pos-rel{
    position: relative;
}

.banda{
    margin:1vh;
}

.banda:hover{

    color: var(--active);
    cursor: pointer;
}


.sombra{

    filter: drop-shadow(2px 4px 6px black);
}

.bgNone{
    background: none !important;
}

input{
    accent-color: rgba(214, 214, 204, 0.698);
}

::-webkit-input-placeholder{
    color: var(--colorB);
 filter: brightness(0.8);
 font-style: italic;
}

::-ms-input-placeholder { /* Edge 12 -18 */
    color: var(--colorB);
    filter: brightness(0.8);
    font-style: italic;
}

legend{

      padding: 3px;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
}

header{

    
     background-color: var(--fundoD);
   
    height: var(--header);
    padding: 1svh;
     text-align: center;

     z-index: 2;
     position: relative;
}

main > menu{
    margin:0 ;
    height: 100%;
    display: none;
    padding: 0;
   background: linear-gradient(145deg, var(--fundoB), var(--fundoC));
    color: white;


}

footer{
    bottom: 0;
    /* position: fixed; */
    /* width: 100%; */
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    padding: 1vh;
}

footer > div{
    display: flex;
    gap: 1vh;
    justify-self: center;
    text-align: center;
}

input{
    border-radius: 4px;
}

fieldset{
    border:none;
    /*
    border-radius: 4px;
    border-color: var(--fundoD);
    */
}

#myProgress {
    display: none;
    width: 100%;
    background-color: var(--colorA);
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: var(--colorB);
    text-align: center;
  }

  #myBar > a{
    text-align: center;
    place-items: center;
    vertical-align: -webkit-baseline-middle;
    color:var(--active);
    
  }

  #myProgress.on{
    display: block;
  }

@media (max-width:400px){

    footer > div{
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        /* gap: 1vh; */
        justify-self: center;
        text-align: center;
        padding: 1vh;
    }

    footer{
        bottom: 0;
         color: white;
        display: grid;
        justify-content: center;
        padding: 1vh;
    }
}


