
::-webkit-scrollbar {
    width: 2px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--fundoC);
}

.fonteContainer{
    font-size: 3vw;
    justify-self: center;
    display: flex;
    align-items: center;
    gap: 1vh;
}

.off{
    display: none !important;
}

.flex{
    display: flex;
}

.painel{
    background-color: var(--fundoA);
   padding: 1vw;
    border-width: 1px;
    border-color: grey;
    border-style: inset;
}

#listaMusicas > div.selected{
    color: red;
}

.grid1{
    display: grid;
}

.grid2{
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;
   
}

.grid3{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    place-items: center;
}

.grid3one{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.centroGrid3{
    display: grid;
    grid-template-columns: 1fr 14fr 1fr;
    place-items: center;
}

.m1{
    margin: 1em;
}

.central{
    justify-content: center;
}

.iconText{
    display: flex;
    gap: 1vh;
    align-items: center;
    font-size: 4vw;
}

.box{
    padding: 1vh;
    grid-template-columns: 1fr 1fr;
    display: grid;
    /* gap: 12vh; */
    font-size: 1.5vh;
    align-items: center;
    justify-content: center;
}

#menuC.active{
    display: grid;
}

.painel{
    font-size: 4vw;
}
/*Elementos internos do botao*/
button{
    cursor: pointer;
    display: flex;
    align-items: center;
    border:none;
    background: none;
    color: white;
}

.active{
    display: grid;
}

header > button.active, button.active{

    color: #a1f3e9;
    text-shadow: #0c617a 6px -4px 10px;
    
    display: flex;
    border-style: ridge;
    border-radius: 4px;
    border-width: 0px 0px 2px 0px;

    transition: all 0.3s;
    padding: 4px;
  
    font-style: italic;

    transition: all 0.3s;
}

header > button{
       cursor: pointer;
       border: none;
       background: none;
       font-size: 2.4vh;
}

#newList , li {
    display: flex;
    padding: 0.5vh;
   
    border-radius: 3px;
    cursor: pointer;
    
    text-align: center;
    align-items: center;
    place-content: center;
   
}

#newList:hover, li:hover, li.active, #newList:active{
    color: rgb(92, 181, 229);
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2), 
                 1px 1px 1px rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
}

.icon{
    width: 25px;
    height: 25px;
    margin: 2px;
}

ul{
    display: grid;
    padding: 0;
}

#trackSugestions{
    top: calc(var(--top) + 10%);
    justify-items: center;
}

#listaArtistas{
   
    position:fixed;
    opacity: 0;
    z-index: 0;
    right:-100vh;

    padding-top: 1vh;
    height: 60%;

    background: var(--fundoB);
    background: linear-gradient(27deg, var(--fundoB) 0%, var(--fundoA));

    gap: 1vh;
    top: calc(var(--top) + 8%);

    justify-items: center;
}

#listaArtistas.active{
    z-index: 1;
    opacity: 1;
    right: 2vh;
  
    transition: all 0.5s;
}

.sideBox{
  
    background-color: var(--fundoC);

    overflow-y: scroll;
   
    position: fixed;
    top: var(--top) + 2vh;
    gap: 1vh;
    width: calc(100% - 8vw);

    font-size: 4vw;
    max-height: 70%;

    padding: auto;

    transition: all 0.8s;
}
        .left{
            left: -100vw;
        }

        .right{
            right: -100vh;
        }

        .sideBox.left.active{
            left: 0em;
            transition: left 0.3s;
        }

        .sideBox.right.active{
            right: 0em;
            transition: right 0.3s;
        }
       

#listaMusicas{
    padding: 1.5vh 2vh;
 
    top: var(--top);
}

#musicas > li{
    align-items: center;
    cursor: pointer;
    gap: 2vh;
    font-size: 1em;
}

#listaMusicas > div{
    cursor: pointer;
    border-width: 0px 0px 1px 0px;

    width: auto;
    /*em relacao a largura*/
    font-size: 3.5vw;
   
    transition: all 0.3s;
  }

input{
    accent-color: rgba(214, 214, 204, 0.698);
}

  #config {
    top: var(--top);
    width: fit-content;
     position: fixed;
     display: grid;
     grid-template-rows: 1fr 1fr 2fr;    
     transition: all 0.3s;
  }


#musicas{
    height: 62vh;
    overflow-y: scroll;
}

.lista {
    display: grid;
    /*grid-template-columns: 1fr 2fr 2fr;*/
    height: 80vh;
    width: 100%;
}

#listaDiscos{
    background-color: var(--fundoC);
    width: fit-content;
    position: fixed;
    top: 22vh;
    right: -50vw;
    transition: all 0.3s;
}

.banda{
    
}

.banda:hover{
    background-color: dimgrey;
    cursor: pointer;
}

.rad1{
    border-radius: 7px;
}

.rad3vh{
    border-radius: 3vh;
}

#listaDiscos.active{
    right: 2vw;
    transition: all 0.1s;
}

#discos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
    overflow-y: scroll;
    height: 60vh;
}

#discos > div > img{
    width: 64px;
    height: 64px;
    border-radius: 2px;
}